<h1>Welcome to CSE Motors!</h1>
<div id="carhero">
  <div id="cardata">
    <span id="title">DMC Delorean</span>
    <span id="features">
      <ul>
        <li>Time Travel</li>
        <li>Flux Capacitor</li>
        <li>Stainless Steel Body</li>
      </ul>
    </span>
    <button id="cta">Own It Today!</button>
  </div>
  <img src="/images/vehicles/delorean.jpg" alt="DMC Delorean">
</div>
<div class="grid-container">

  <section>
    <h2>Delorean Upgrades</h2>
    <div class="quad">
      <figure>
        <img src="/images/upgrades/fluxcap.jpg" alt="Flux Capacitor">
        <figcaption><a href="">Flux Capacitor</a></figcaption>
      </figure>
      <figure>
        <img src="/images/upgrades/flame.jpg" alt="Flame Decals">
        <figcaption><a href="">Flame Decals</a></figcaption>
      </figure>
      <figure>
        <img src="/images/upgrades/sticker.jpg" alt="Bumper Stickers">
        <figcaption><a href="">Bumper Stickers</a></figcaption>
      </figure>
      <figure>
        <img src="/images/upgrades/hubcap.jpg" alt="Hub Caps">
        <figcaption><a href="">Hub Caps</a></figcaption>
      </figure>

    </div>
  </section>

  <section id="reviews">
    <h2>Reviews</h2>
    <ul>
      <li>"So fast it's almost like traveling in time!" (4/5)</li>
      <li>"The flux capacitor is a game changer!" (5/5)</li>
      <li>"A classic car with a futuristic twist!" (4/5)</li>
      <li>"The stainless steel body is a work of art!" (5/5)</li>
    </ul>
  </section>

</div>